/TechEvents/TechEvents/nbproject/private/
/TechEvents/TechEvents/build/
/TechEvents/TechEvents/dist/
/TechEvents/TechEventsMobile/nbproject/private/
/TechEvents/TechEventsMobile/build/
/TechEvents/TechEventsMobile/dist/